includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/cuyz/valinor/qa/PHPStan/valinor-phpstan-configuration.php
parameters:
    paths:
        - app
        - bootstrap
        - config
        - public
        - routes
    level: 9
    checkMissingCallableSignature: true
    excludePaths:
        - public/index.php
        - routes/console.php
